.div_form {
  max-width: 60rem;
  padding: 5.6rem;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: max-content;
  scroll-margin-block: 150px;
  border-radius: 10px;
  background: linear-gradient(
    225deg,
    rgba(0, 72, 254, 0.2) 0%,
    rgba(133, 29, 134, 0.2) 100%
  );
}

.nav_form {
  max-width: 60rem;
  margin-top: 2rem;
  padding: 3rem;
}

.nav_form ul {
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 5rem;
  display: inline-flex;
  height: 6.8rem;
}

.div_etapas {
  width: 10rem;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.div_etapas li {
  color: rgb(226, 226, 226);
  max-width: 13.9rem;
  font-size: 1rem;
  line-height: 110%;
  font-weight: 600;
  text-align: center;
}

.div_etapas span {
  position: relative;
  border-radius: 50%;
  padding: 0.7rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(226, 226, 226);
}

.div_etapa_1 {
  max-width: 93rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.div_inputs {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.div_inputs_w {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.4rem;
}

.div_inputs_w span {
  align-self: baseline;
  color: rgb(211, 86, 86);
}

.div_inputs_p {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.div_inputs_p input {
  width: 100%;
  height: 2.5rem;
  padding: 1.2rem 1.2rem 1.2rem 1.6rem;
  font-size: 1rem;
  line-height: 157.5%;
  color: rgb(226, 226, 226);
  background: transparent;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 10px;
  transition: 0.1s;
  font-family: inherit;
}

.div_inputs_p textarea {
  width: 100%;
  padding: 1.2rem 1.6rem;
  font-size: 1rem;
  line-height: 157.5%;
  color: rgb(226, 226, 226);
  background: transparent;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 10px;
  transition: 0.1s;
  min-height: 8rem;
  resize: none;
}

.inputs_radios {
  font-size: 1rem;
  font-family: inherit;
  position: relative;
  appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 50%;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.div_radios {
  display: flex;
  gap: 1rem;
}

.div_termos {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(226, 226, 226);
  font-weight: 700;
}

.div_checkbox {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(226, 226, 226);
  font-weight: 700;
  gap: 0.6rem;
}

.div_checkbox_caixa {
  width: 4rem;
  height: 4rem;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  appearance: none;
  width: 3rem;
  height: 3rem;
  border-right: 3.5px solid rgb(0, 72, 254);
  border-left: 3.5px solid rgb(133, 29, 134);
  background-image: linear-gradient(
      to right,
      rgb(133, 29, 134),
      rgb(0, 72, 254)
    ),
    linear-gradient(to right, rgb(133, 29, 134), rgb(0, 72, 254));
  background-size: 100% 3.5px;
  background-position: 0px 100%, 0px 0px;
  background-repeat: no-repeat;
  background-clip: padding-box;
  border-radius: 5.33px;
  cursor: pointer;
  outline: none;
}
