.display_sections {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 125.6rem;
  margin: 0px auto;
}

.section {
  background-color: rgb(31, 29, 43);
}
