.div_linhas_title {
  position: relative;
  max-width: 125.6rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.div_linhas_title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(
      225deg,
      rgb(0, 72, 254) -50%,
      rgb(133, 29, 134) 100%
    )
    text;
  -webkit-text-fill-color: transparent;
}

.div_linha {
  width: calc(50% - 16.3rem);
  height: 5px;
  position: absolute;
  display: block;
  top: 50%;
  width: 30%;
  height: 3px;
  background: linear-gradient(
    225deg,
    rgb(0, 72, 254) -70%,
    rgb(133, 29, 134) 100%
  );
  border-radius: 20px;
  margin: 0 3rem 0 3rem;
}

.div_cards {
  display: inline-flex;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  gap: 5.8rem;
  flex-direction: row;
  -webkit-box-align: center;
  width: 100%;
}
