.bg_section_top {
  background-image: url(https://media.graphassets.com/iGXpg7LOQaCPkzm6iOgs);
  background-size: cover;
  background-position: center;

  display: flex;
  background-size: cover;
  padding: 5.6rem 1.6rem 1.2rem;
  width: 100%;
  height: max-content;
}

.content_section {
  display: grid;
  grid-template-columns: 3fr 2fr;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 125.6rem;
  margin: 0px auto;
  padding: 0;
}

.content_text {
  padding-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
}

.content_text p {
  margin-top: 2.7rem;
  font-size: 1.5rem;
  max-width: 64rem;
  line-height: 150%;
  color: rgb(226, 226, 226);
}

.content_title h1 {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  font-family: Poppins, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 150%;
}

.content_title strong {
  background: linear-gradient(
      346deg,
      rgb(0, 72, 254) -48%,
      rgb(133, 29, 134) 115%
    )
    text;
  -webkit-text-fill-color: transparent;
}
