.div_inscrever {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 5rem 0rem;
  width: 100%;
  height: auto;
}

.div_inscrever_card {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  background-color: rgb(31, 29, 43);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
  border-radius: 10px;
  padding-bottom: 4rem;
}

.div_inscrever img {
  max-width: 285px;
  max-height: 300px;
}

.div_inscrever_card h3 {
  margin: 2.4rem auto;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 110%;
  color: rgb(235, 87, 87);
  max-width: 27rem;
}
