.div_ol {
  position: relative;
  width: 100%;
  min-width: 31rem;
}

.div_ol ol {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}

.div_ol ol li {
  position: relative;
  box-shadow: rgba(133, 29, 134, 0.4) 0px 0px 30px 0px;
  border-radius: 10px;
}

.div_li {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 13rem;
  height: max-content;
  min-height: 8rem;
  background-color: rgb(18, 17, 25);
  padding: 2.4rem 1.6rem 2.4rem 3.2rem;
  border-radius: 10px;
}

.div_li span {
  left: -29px;
  position: absolute;
  top: 15px;
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 3.2rem;
  background: linear-gradient(
      225deg,
      rgb(0, 72, 254) 0%,
      rgb(133, 29, 134) 100%
    )
    text;
  -webkit-text-fill-color: transparent;
}

.div_text_card {
  display: inline-flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 8rem;
  text-align: center;
  margin: 0px auto;
}

.div_text_card h3 {
  font-size: 1rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: rgb(226, 226, 226);
  text-align: center;
}

.div_text_card p {
  font-size: 0.8rem;
  line-height: 150%;
  color: rgb(215, 215, 215);
  text-align: center;
}
